<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            liste produits
        </div>
        
        <div class="card-body">
            <table class="table table-striped" *ngIf="productf!=null;else vide">
                <thead>
                    motcle:<input type="text" [(ngModel)]="vari">
                    <tr>
                        <th><button (click)="afficher()">{{ba}}</button></th>
                        <th>id</th>
                        <th>nom</th>
                        <th>prix</th>
                        <th>quantite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productf ">
                        <td><img *ngIf="ba=='masquer'" [src]=p.urlimage width="100px" /></td>
                        <td>{{p.id}}</td>
                        <!-- <td><a routerLink="/product/:{{p.id}}">{{p.nom |uppercase}}</a></td> -->
                        <td><a [routerLink]="['/product',p.id]">{{p.nom |uppercase}}</a></td>
                        <td>{{p.prix|number:'.2-2'}}</td>
                        <td>{{p.quantite}}</td>
                        <td><button (click)=supprimer(p.id)><i class="bi bi-trash3-fill"></i>
                        </button></td>
                    </tr>
                </tbody>
            </table>
            <ng-template #vide>
                <h2 style="color:red">le tableau est vide</h2>
            </ng-template>
        </div>
    </div>
</div>